# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.exe
*.pdb

# Visual Studio
.vs/
*.vsidx
*.testlog
*.lock.json

# IDE
*.idea/
.vscode/

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Logs
*.log
logs/

# OS
Thumbs.db
.DS_Store

# User-specific
*.rsuser
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Junk files
bash.exe.stackdump
nul
